{% extends 'posts/base.html'%}
{% block title %} Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">           
        <h1>Все посты пользователя {{ author }} </h1>
        <h3>Всего постов: {{ post_list.count }}  </h3>
        {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
          <p>
          {{ post.text }}
          </p>
          <a href={% url "posts:post_detail" post.id %}>подробная информация </a>
          <br>
          {% if group %}
          <a href={% url "posts:group_posts" group.slug %}>все записи группы {{ post.group.title }}</a>
          {% endif %}
        </article>               
        {% if not forloop.last %} <hr> {% endif %}
        {% endfor %}
        {% include 'includes/paginator.html' %}
    </div> 
{% endblock %}